#rightheader{height:66px;width:260px;position: relative;}
#myp span{float:left;}
#myp{margin:0px;padding: 0px;margin:0px;}
#head_img{width:60px;height:60px;border-radius: 50%;position: absolute;top:5px;right:5px;}