                                                                                                {% extends 'empcms/super.html'%}
{% block temp_tit %}
     <title>addDepartment</title>
{% endblock %}
{% block  empcms%}
				<div id="content">
					<p id="whereami">
					</p>
					<h1>
						update dept info:
					</h1>
					<form action="{% url 'dept:deptupt' %}" method="post">
                        {% csrf_token %}
						<table cellpadding="0" cellspacing="0" border="0"
							class="form_table">
							<tr>
								<td valign="middle" align="right">
									id:
								</td>
								<td valign="middle" align="left">
									{{ dept.id }}
                                     <input type="hidden" class="inputgri" name="id" value="{{ dept.id }}"/>
								</td>
							</tr>
							<tr>
								<td valign="middle" align="right">
									name:
								</td>
								<td valign="middle" align="left">
									<input type="text" class="inputgri" name="name" value="{{ dept.name }}"/>
								</td>
							</tr>
							<tr>
								<td valign="middle" align="right">
									note:
								</td>
								<td valign="middle" align="left">
									<input type="text" class="inputgri" name="note" value="{{ dept.note }}"/>
								</td>
							</tr>
							
						</table>
						<p>
							<input type="submit" class="button" value="Confirm" />
						</p>
					</form>
				</div>
{% endblock %}
